# Lambda Functions

### Lambda function in python
- A lambda function is a small anonymous function.

- A lambda function can take any number of arguments, but can only have one expression.

#### Syntax

lambda arguments : expression

The expression is executed and the result is returned:

In [2]:
def addition(a,b):
    c = a + b
    return c
addition(2, 3)

5

In [3]:
def add(a,b):
    return a+b
add(3,5)

8

In [4]:
def addtn(a,b):return a+b
addtn(3,9)

12

In [5]:
add_lambda = lambda a,b : return a+b
add_lambda(2,7)

SyntaxError: invalid syntax (<ipython-input-5-60a250e66b14>, line 1)

In [6]:
add_lam = lambda a,b: a+b
add_lam(2,3)

5

In [9]:
sub_lam = lambda a,b: a-b
sub_lam(2,1)

1

In [2]:
# Create a function to find even numbers.
def CheckEven(a):
    if a%2 == 0:
        return 'Even Numer'
    else:
        return 'Not Even Number'
CheckEven(4)

'Even Numer'

In [3]:
# Create a lambda function to identify whether a number is even or not.
find_even = lambda x : x%2 == 0
find_even(4)

True

In [12]:
# Create a function to find odd numbers.
def CheckOdd(a):
    if a%2 != 0:
        return 'Odd Numer'
    else:
        return 'Not Odd Number'
CheckEven(5)

'Not Even Number'

In [11]:
# Create a lambda function to identify whether a number is odd or not.
find_odd = lambda y: y%2 != 0
find_odd(5)

True

Lambda functions can take any number of arguments:

##### Why Use Lambda Functions?
- The power of lambda is better shown when you use them as an anonymous function inside another function.
- Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:
- An anonymous function is a function with out a name
- While normal functions are defined using the def keyword in python ,anonymous functions are defined using lambda keyword.
- We use lambda functions when we require a nameless function for a short period of time.
- Lambda functions are used aong with built-in functions like filter(),map()

In [15]:
def myfunc(n):
    return lambda a : a * n

- Use that function definition to make function that always doubles number you send it.

In [17]:
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
mytripler = myfunc(3)
print(mydoubler(11))
print(mytripler(11))

22
33

In [19]:
def myfunc(n):
    return lambda a : a * n
print(myfunc(2))

<function myfunc.<locals>.<lambda> at 0x0000001B39DE3708>

In [20]:
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
mydoubler(12)

24

In [21]:
def myfunc(n):
    return lambda a : a * n
my_doubler = myfunc(2)
my_tripler = myfunc(3)
print(mydoubler(11))
print(mytripler(11))

22
33

In [24]:
def myfunc(n):
    return lambda a : a * n
# Print(myfunction(5))
n = int(input("Enter n value: "))
mydoubler = myfunc(n)
print(mydoubler(11))

Enter n value: 4
44

In [25]:
# Create a list from 300 to 700 with a step of 3
List1 = list(range(300,700,3))
print(List1)

[300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699]

In [26]:
List1 = list(range(300,700,3))
type(List1)

list

# Without lambda function using for and if looping to identify even numbers.

In [27]:
List2 =[]  # Create an empty list.
for i in List1:
    if i%2 == 0:
        List2.append(i)  # Appending the even numbers to the empty list.
print(List2)

[300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

In [29]:
List2 = []  # Create an empty list.
for i in List1:
    if find_even(i):
        List2.append(i)  # Appending the even numbers to the empty list.
print(List2)

[300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

In [32]:
find_even = lambda x : x%2 == 0
find_even(4)

True

In [33]:
find_even = lambda x : x%2 == 0
find_even(13)

False

In [34]:
add_lamb = lambda a,b : a+b
add_lamb(5,3)

8

# Filter

Here filter is a function that can be used to filter the elements from the list of elements based on a criteria
Syntax is filter(function_name,data) 
Here function_name refers to the function using which you want to set up the criterea and filter the lements 
And data is the object on which you want to apply the filter.

In our case, I want to filter the even numbers from List1 which contains the elements from 300 to 600 with step 3
Now the function that I want to use here is find_even because I want to filter the even numbers from list1

In [36]:
List2 = []  # Create an empty list.
for i in List1:
    if find_even(i):
        List2.append(i)  # Appending the even numbers to the empty list.
print(List2)

[300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

In [39]:
List2 = list(filter(find_even,List1))
print(List2)

[300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

In [41]:
even_find = lambda x : x%2 == 0
List3 = list(filter(even_find,List1))
print(List3)

[300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

Create a lambda function to find the numbers that are divisible by 5 and also filter that numbers from List1 which are divisible by 5

In [44]:
check_div_5 = lambda a : a%5 == 0
listDivisibleBy5 = list(filter(check_div_5,List1))
print(listDivisibleBy5)

[300, 315, 330, 345, 360, 375, 390, 405, 420, 435, 450, 465, 480, 495, 510, 525, 540, 555, 570, 585, 600, 615, 630, 645, 660, 675, 690]

In [46]:
# User defined functions without lambda
def find_div_5(num):
    return num%5 == 0
find_div_5(30)

True

In [48]:
find_div_5_lam = lambda num : num%5 ==0

In [69]:
List3 = list(filter(find_div_5,List1)) # Filtering using a non lambda function.
print(List3)

[300, 315, 330, 345, 360, 375, 390, 405, 420, 435, 450, 465, 480, 495, 510, 525, 540, 555, 570, 585, 600, 615, 630, 645, 660, 675, 690]

In [70]:
List4 =list(filter(lambda num : num%5 != 0,List1)) # Filtering with a lambda function
print(List4)

[303, 306, 309, 312, 318, 321, 324, 327, 333, 336, 339, 342, 348, 351, 354, 357, 363, 366, 369, 372, 378, 381, 384, 387, 393, 396, 399, 402, 408, 411, 414, 417, 423, 426, 429, 432, 438, 441, 444, 447, 453, 456, 459, 462, 468, 471, 474, 477, 483, 486, 489, 492, 498, 501, 504, 507, 513, 516, 519, 522, 528, 531, 534, 537, 543, 546, 549, 552, 558, 561, 564, 567, 573, 576, 579, 582, 588, 591, 594, 597, 603, 606, 609, 612, 618, 621, 624, 627, 633, 636, 639, 642, 648, 651, 654, 657, 663, 666, 669, 672, 678, 681, 684, 687, 693, 696, 699]

In [54]:
List4 = filter(lambda num : num%5 != 0,List1)
print(list(List4))

[303, 306, 309, 312, 318, 321, 324, 327, 333, 336, 339, 342, 348, 351, 354, 357, 363, 366, 369, 372, 378, 381, 384, 387, 393, 396, 399, 402, 408, 411, 414, 417, 423, 426, 429, 432, 438, 441, 444, 447, 453, 456, 459, 462, 468, 471, 474, 477, 483, 486, 489, 492, 498, 501, 504, 507, 513, 516, 519, 522, 528, 531, 534, 537, 543, 546, 549, 552, 558, 561, 564, 567, 573, 576, 579, 582, 588, 591, 594, 597, 603, 606, 609, 612, 618, 621, 624, 627, 633, 636, 639, 642, 648, 651, 654, 657, 663, 666, 669, 672, 678, 681, 684, 687, 693, 696, 699]

# Subtract 300 from each and every element of List1.

In [58]:
# Method 1 without map
List1 = list(range(300,700,3))
List5 = []
for i in List1:
    List5.append(i-300)
print(List5)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399]

# Map

**map(func,iterables)**

- Making an iterable computes the function using arguments with each iterables

### In list1 subtract all values with 300

In [59]:
# Method2 to subtract all values
sub_lam = lambda x : x - 300

In [60]:
List6 = map(sub_lam,List1)
print(list(List6))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399]

In [66]:
power = lambda x : x**2

In [67]:
List7 = map(power,List1)

In [68]:
print(list(List7))

[90000, 91809, 93636, 95481, 97344, 99225, 101124, 103041, 104976, 106929, 108900, 110889, 112896, 114921, 116964, 119025, 121104, 123201, 125316, 127449, 129600, 131769, 133956, 136161, 138384, 140625, 142884, 145161, 147456, 149769, 152100, 154449, 156816, 159201, 161604, 164025, 166464, 168921, 171396, 173889, 176400, 178929, 181476, 184041, 186624, 189225, 191844, 194481, 197136, 199809, 202500, 205209, 207936, 210681, 213444, 216225, 219024, 221841, 224676, 227529, 230400, 233289, 236196, 239121, 242064, 245025, 248004, 251001, 254016, 257049, 260100, 263169, 266256, 269361, 272484, 275625, 278784, 281961, 285156, 288369, 291600, 294849, 298116, 301401, 304704, 308025, 311364, 314721, 318096, 321489, 324900, 328329, 331776, 335241, 338724, 342225, 345744, 349281, 352836, 356409, 360000, 363609, 367236, 370881, 374544, 378225, 381924, 385641, 389376, 393129, 396900, 400689, 404496, 408321, 412164, 416025, 419904, 423801, 427716, 431649, 435600, 439569, 443556, 447561, 451584, 455625, 459684, 463761, 467856, 471969, 476100, 480249, 484416, 488601]